[Unit]
Description=AI Smart Recycling Bin
After=local-fs.target sound.target
Wants=sound.target

[Service]
Type=simple
User=smini131
Group=smini131
WorkingDirectory=/home/smini131/smart_bin
Environment=HOME=/home/smini131
Environment=PYTHONUNBUFFERED=1
Environment=GPIOZERO_PIN_FACTORY=lgpio
ExecStartPre=/bin/sleep 10
ExecStart=/home/smini131/smart_bin/.venv/bin/python -u /home/smini131/smart_bin/smart_bin_final.py
Restart=always
RestartSec=5
KillSignal=SIGINT
TimeoutStopSec=20
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
